In [ ]:
# !pip install yfinance

In [47]:
import requests
import pprint
import pandas as pd
import yfinance as yf
import datetime
stocks = ['CVX']
# , 'OXY', 'BP', 'XOM', 'EOG', 'TOT', 'DVN', 'RDS-B', 'EQNR', 'COP', 'CL=F']
start = datetime.datetime(2010,1,1)
end = datetime.datetime(2020,12,31)
data = yf.download(stocks, start=start, end=end)
data
data_fix = data.reset_index()
data_fix

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,78.199997,79.199997,78.160004,79.059998,50.816982,10173800
1,2010-01-05,79.220001,79.620003,78.720001,79.620003,51.176937,10593700
2,2010-01-06,79.440002,80.000000,79.190002,79.629997,51.183357,11014600
3,2010-01-07,79.360001,79.699997,78.970001,79.330002,50.990532,9626900
4,2010-01-08,79.120003,79.470001,78.889999,79.470001,51.080528,5624300
...,...,...,...,...,...,...,...
2763,2020-12-23,85.000000,86.660004,85.000000,85.690002,84.495621,7223100
2764,2020-12-24,85.930000,85.930000,84.809998,85.330002,84.140633,3335600
2765,2020-12-28,85.610001,86.629997,84.620003,84.900002,83.716629,8051900
2766,2020-12-29,85.260002,85.720001,84.050003,84.610001,83.430672,7670800
2767,2020-12-30,84.610001,86.580002,84.540001,85.330002,84.140633,7901800

In [43]:
# Dependencies
#import requests
#import pprint
#import datetime
#import pandas as pd
#from config import xkey

#url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v3/get-historical-data"
#stocks = ['CVX', 'OXY', 'BP', 'XOM', 'EOG', 'TOT', 'DVN', 'RDS-B', 'EQNR', 'COP', 'CL=F']
#querystring = {"start": "2019-01-01",
#               "end": "2020-01-01",
#               "symbol": "CL=F",
#               "region":"US",
#                }
#headers = {
#    'x-rapidapi-key': xkey,
#    'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
#    }
#response = requests.get(url, headers=headers, params=querystring).json()
#pprint.pprint(response['prices'][0])

#timestamp = datetime.datetime.fromtimestamp(response['prices'][0]['date'])
#print(timestamp.strftime('%Y-%m-%d %H:%M:%S'))

{'adjclose': 64.23999786376953,
 'close': 64.23999786376953,
 'date': 1614910991,
 'high': 64.47000122070312,
 'low': 63.81999969482422,
 'open': 64.16000366210938,
 'volume': 38670}
2021-03-04 20:23:11

In [25]:
stocks = ['CVX', 'OXY', 'BP', 'XOM', 'EOG', 'TOT', 'DVN', 'RDS-B', 'EQNR', 'COP', 'CL=F']
date = []
openl = []
close = []
adjclose = []
high = []
low = []
volume = []
ticker = []


for value in stocks:
    querystring = {"symbol":value,"region":"US"}
    response = requests.get(url, headers=headers, params=querystring).json()
    
    for i in range(len(response['prices'])):
        try:
            response['prices'][i]['volume']
        except KeyError:
            continue
        date.append(datetime.datetime.fromtimestamp(response['prices'][i]['date']).strftime('%Y-%m-%d %H:%M:%S'))
        openl.append(response['prices'][i]['open'])
        close.append(response['prices'][i]['close'])
        adjclose.append(response['prices'][i]['adjclose'])
        high.append(response['prices'][i]['high'])
        low.append(response['prices'][i]['low'])
        volume.append(response['prices'][i]['volume'])
        ticker.append(value)
        
print("complete")

complete

In [38]:
oil_df = pd.DataFrame({'ticker': ticker,
                       'date': date,
                       'open': openl,
                       'close': close,
                       'adjclose': adjclose,
                       'high': high,
                       'low': low,
                       'volume': volume,
                      })
oil_df

,ticker,date,open,close,adjclose,high,low,volume
0,CVX,2021-03-04 15:04:54,104.514999,104.500000,104.500000,107.570000,103.129997,22997454.0
1,CVX,2021-03-03 08:30:00,103.410004,103.589996,103.589996,105.750000,103.400002,14952200.0
2,CVX,2021-03-02 08:30:00,101.889999,102.440002,102.440002,103.309998,101.709999,10639600.0
3,CVX,2021-03-01 08:30:00,102.459999,102.050003,102.050003,103.800003,101.400002,10439900.0
4,CVX,2021-02-26 08:30:00,100.300003,100.000000,100.000000,101.059998,97.610001,14452300.0
...,...,...,...,...,...,...,...,...
2820,CL=F,2020-03-08 23:00:00,32.869999,31.129999,31.129999,34.880001,27.340000,1774383.0
2821,CL=F,2020-03-07 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2822,CL=F,2020-03-05 23:00:00,46.090000,41.279999,41.279999,46.380001,41.049999,1276180.0
2823,CL=F,2020-03-04 23:00:00,47.130001,45.900002,45.900002,47.570000,45.650002,704591.0
2824,CL=F,2020-03-03 23:00:00,46.939999,46.779999,46.779999,48.410000,46.650002,745856.0

In [39]:
clean_oil_df = oil_df.dropna()
clean_oil_df

,ticker,date,open,close,adjclose,high,low,volume
0,CVX,2021-03-04 15:04:54,104.514999,104.500000,104.500000,107.570000,103.129997,22997454.0
1,CVX,2021-03-03 08:30:00,103.410004,103.589996,103.589996,105.750000,103.400002,14952200.0
2,CVX,2021-03-02 08:30:00,101.889999,102.440002,102.440002,103.309998,101.709999,10639600.0
3,CVX,2021-03-01 08:30:00,102.459999,102.050003,102.050003,103.800003,101.400002,10439900.0
4,CVX,2021-02-26 08:30:00,100.300003,100.000000,100.000000,101.059998,97.610001,14452300.0
...,...,...,...,...,...,...,...,...
2819,CL=F,2020-03-09 23:00:00,30.370001,34.360001,34.360001,35.020000,30.200001,1064632.0
2820,CL=F,2020-03-08 23:00:00,32.869999,31.129999,31.129999,34.880001,27.340000,1774383.0
2822,CL=F,2020-03-05 23:00:00,46.090000,41.279999,41.279999,46.380001,41.049999,1276180.0
2823,CL=F,2020-03-04 23:00:00,47.130001,45.900002,45.900002,47.570000,45.650002,704591.0
2824,CL=F,2020-03-03 23:00:00,46.939999,46.779999,46.779999,48.410000,46.650002,745856.0

In [40]:
cvx_df = clean_oil_df.loc[clean_oil_df['ticker'] == 'CVX']
clean_oil_df.groupby('ticker').agg({"adjclose": ["mean", "median", "var", "std", "sem", "min", "max"]})

         adjclose                                                         \
             mean     median         var        std       sem        min
ticker
BP      21.092769  21.669703    7.515686   2.741475  0.172697  14.413861
CL=F    39.664263  40.619999  140.558418  11.855734  0.748327 -37.630001
COP     38.357515  39.097025   36.181746   6.015126  0.378917  21.749239
CVX     82.656517  84.515343   84.779380   9.207572  0.580023  51.188683
DVN     12.251502  10.953413   15.779438   3.972334  0.250234   5.148389
EOG     46.689495  46.622725   75.310674   8.678172  0.546673  28.791319
EQNR    14.978386  14.918753    5.190263   2.278215  0.143514   8.510657
OXY     15.920459  15.173462   23.093137   4.805532  0.302720   8.875359
RDS-B   31.542341  31.395000   21.438866   4.630212  0.291676  19.580000
TOT     37.357092  37.071238   25.921341   5.091301  0.320722  22.795771
XOM     40.497191  40.672304   33.759600   5.810301  0.366015  29.048874


               max
ticker
BP       30.311844
CL=F     63.950001
COP      55.619999
CVX     104.500000
DVN      23.620001
EOG      72.370003
EQNR     19.879999
OXY      30.490740
RDS-B    44.040001
TOT      48.320000
XOM      58.709999

#####